h1{
    font-family: cursive;
    font-size: x-large;
    color: lavenderblush;
    margin: 5rem;
    padding: 0%;
    width: 100%;
}
h2{
    font-family: cursive;
    font-size: xx-large;
    color: burlywood;
}
p{
    font-family: fantasy;
    font-size: xx-large;
    color: aliceblue;
}
body{
    background-color: indigo;
}
nav a{
    color: rgb(151, 35, 97);;
    margin: auto, 0;
    gap: 3rem;
    padding: 1rem;
}
nav a:hover{
    color: rgb(65, 166, 24);
  }
  html {
    scroll-behavior: smooth;
  }
img{
    max-width: 50%;
    display: block;
    margin: 3rem, 0;
}
#myBtn:hover {
    background-color: #555; 
  }